extends layout

block content
  h1= title
  - var results =[{name:"Mobile", brand:"Apple", price:200000},{name:"Laptop", brand:"HP", price:70000},{name:"Watch", brand:"Boat", price:5000}]
  div(class="container-fluid")
  div(class="row")
   each k,index  in results 
    div(class="col-sm-2" onclick =`buy(${index})`) #{k.name}, #{k.brand}, #{k.price}
    script.
      function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        }
    