extends layout 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let devicesid = toShow._id 
    - let devices_name = toShow.name 
    - let devices_brand = toShow.brand
    - let devices_price = toShow.price
    - let actionid = "/resource/devices/" + devicesid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='devicesAttr mr-3') devices ID is: 
        div #{devicesid} 
      div.row 
        div(class='devicesAttr mr-3') devices name is: 
        div #{devices_name} 
      div.row 
        div(class='devicesAttr mr-3') devices brand is: 
        div #{devices_brand} 
      div.row 
        div(class='devicesAttr mr-3') devices price is: 
        div #{devices_price} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the devices collection 
      window.location.href='/devices' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Dont need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/Vechile' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 